<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKKEN</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: chocolate;
        }
    </style>
</head>

<body>
    <h1>Nikken</h1>
    <p>Estos son los Asesores.</p>
    <table>
        <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>FechaNacimiento</th>
            <th>Sexo</th>
            <th>Patrocinador</th>
        </tr>
        {% for asesor in asesores %}
        <tr>
            <td>{{ asesor.DNI }}</td>
            <td>{{ asesor.nombre }}</td>
            <td>{{ asesor.apellido }}</td>
            <td>{{ asesor.fechaNacim }}</td>
            <td>{{ asesor.sexo }}</td>
            <td>{{ asesor.DNImanager }}</td>
        </tr>
        {% endfor %}
    </table>



</body>

</html>