<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKKEN</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: chocolate;
        }
    </style>
</head>

<body>
    <h1>Nikken</h1>
    <p>Estos son los comisiones.</p>
    <table>
        <tr>
            <th>IdComision</th>
            <th>titulo</th>

        </tr>
        {% for comision in comisiones %}
        <tr>
            <td>{{ comision.IdComision }}</td>
            <td>{{ comision.titulo }}</td>

        </tr>
        {% endfor %}
    </table>



</body>

</html>