<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKKEN</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid white;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: chocolate;
        }
    </style>
</head>

<body>
    <h1>Nikken</h1>
    <p>Estos son los productos.</p>
    <table>
        <tr>
            <th>idProd</th>
            <th>descripcion</th>
            <th>precioMayor</th>
            <th>precioVenta</th>
            <th>puntos</th>
            <th>vc</th>
            <th>ginMediata</th>
            <th>bKinya</th>
            <th>bKinyam1</th>
            <th>bKinyam2</th>
            <th>stock</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.idProd }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precioMayor }}</td>
            <td>{{ producto.precioVenta }}</td>
            <td>{{ producto.puntos }}</td>
            <td>{{ producto.vc }}</td>
            <td>{{ producto.ginMediata }}</td>
            <td>{{ producto.bKinya }}</td>
            <td>{{ producto.bKinyam1 }}</td>
            <td>{{ producto.bKinyam2 }}</td>
            <td>{{ producto.stock }}</td>
        </tr>
        {% endfor %}
    </table>



</body>

</html>